.hero-title {
  font-family: "Gilroy Extra-Bold", sans-serif;
  font-size: 84px;
  line-height: 120%;
  color: $accent-color-light;
}

.title {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 70px;
  line-height: 82px;
  color: $text-color-1;
  margin-bottom: 60px;
}

.description {
  font-family: "Sofia Pro Regular", sans-serif;
  font-size: 18px;
  line-height: 170%;
  color: rgba($text-color-1, 0.65);
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1158px) {
  .hero-title {
    font-size: 60px;
    line-height: 130%;
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .hero-title {
    font-size: 50px;
    line-height: 130%;
    margin-bottom: 20px !important;
  }

  .description {
    font-size: 16px;
    line-height: 170%;
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 20px !important;
  }

  .description {
    font-size: 16px;
    line-height: 170%;
    margin-bottom: 40px !important;
  }

  .title {
    font-size: 40px;
  }
}
