/*********************** COLORS **********************/

$accent-color: #ff800b;
$accent-color-light: #fdb827;

$text-color-1: #02283f;
$text-color-2: #243165;

/*********************** FONTS **********************/
