.footer {
  padding: 150px 0 0;

  &__brand {
    font-family: "Poppins Semi-Bold", sans-serif;
    font-size: 31px;
    color: $text-color-2;
    margin-bottom: 47px;
  }

  &__brand-desc {
    font-family: "Sofia Pro Regular", sans-serif;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: rgba(55, 84, 101, 0.8);
    margin-bottom: 39px;
  }

  &__social {
    display: flex;
    align-items: center;

    img {
      margin-right: 22px;
      max-width: 22px;
    }

    a {
      text-decoration: none;
    }
  }

  &__title {
    font-family: "Poppins Semi-Bold", sans-serif;
    font-size: 18px;
    color: $text-color-2;
    line-height: 28px;
    margin-bottom: 45px;
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin-bottom: 15px;
    }

    &-link {
      text-decoration: none;
      font-family: "Sofia Pro Regular";
      font-size: 17px;
      line-height: 28px;
      color: rgba(55, 84, 101, 0.8);
    }
  }

  &__top {
    margin-bottom: 100px;
  }

  &__right {
    border-top: 1px solid #c4c4c4;
    padding: 36px 0;
    text-align: center;

    h4 {
      font-family: "Poppins Regular", sans-serif;
      font-size: 18px;
      line-height: 28px;
      color: #375465;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
    padding: 15px 0 0;

    &__brand {
      margin-bottom: 20px;

      &-desc {
        margin-bottom: 10px;
      }
    }

    &__social {
      justify-content: center;
    }

    &__title {
      margin-bottom: 18px;
    }
  }
}
